labs/Lab_1_no_code_low_code_chat_gpt/powerapp/Openaisummarization.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","uaecentral","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"8a6969a5-a29a-4699-a966-107386c6210b"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Initializevariable_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["Initializevariable_Value"]}}}},"actions":{"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"a5dbd7cf-af6a-4f03-816f-19fbf80b1500"},"type":"InitializeVariable","inputs":{"variables":[{"name":"prompt","type":"string","value":"@{triggerBody()['Initializevariable_Value']}"}]}},"HTTP":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"7902be29-c896-49c2-95c1-7a46ee4e65ee"},"type":"Http","inputs":{"method":"POST","uri":"https://your-resource-name.openai.azure.com/openai/deployments/deployment-id/completions?api-version=api-version","headers":{"Content-Type":"application/json","api-key":"YOUR_API_KEY"},"body":{"prompt":"@triggerBody()['Initializevariable_Value']","max_tokens":1000,"temperature":1}}},"Parse_JSON":{"runAfter":{"HTTP":["Succeeded"]},"metadata":{"operationMetadataId":"66797ba9-354b-46f4-941a-86fcc28d7045"},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"object","properties":{"id":{"type":"string"},"object":{"type":"string"},"created":{"type":"integer"},"model":{"type":"string"},"choices":{"type":"array","items":{"type":"object","properties":{"text":{"type":"string"},"index":{"type":"integer"},"logprobs":{},"finish_reason":{"type":"string"}},"required":["text","index","logprobs","finish_reason"]}}}}}},"Initialize_variable_2":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"1829185b-cabe-47c5-bcf6-409546e23ce2"},"type":"InitializeVariable","inputs":{"variables":[{"name":"outsummary","type":"string","value":"\"\""}]}},"Apply_to_each":{"foreach":"@body('Parse_JSON')?['choices']","actions":{"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"560a3ef2-87a9-4058-9427-006507ab3396"},"type":"SetVariable","inputs":{"name":"outsummary","value":"@{items('Apply_to_each')}"}}},"runAfter":{"Initialize_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"8afb1816-6aaa-4351-80d2-db59d1bdcbdc"},"type":"Foreach"},"Parse_JSON_2":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"dbed2383-fb39-42f7-ab6e-0dc45d49f190"},"type":"ParseJson","inputs":{"content":"@variables('outsummary')","schema":{"type":"object","properties":{"text":{"type":"string"},"index":{"type":"integer"},"finish_reason":{"type":"string"},"logprobs":{}}}}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Parse_JSON_2":["Succeeded"]},"metadata":{"operationMetadataId":"96bdc9ff-778b-4fed-9d40-91df1e8ca395"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"summarytext":"@body('Parse_JSON_2')?['text']"},"schema":{"type":"object","properties":{"summarytext":{"title":"summarytext","x-ms-dynamically-added":true,"type":"string"}}}}}},"outputs":{}},"parameters":{},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Medium"}},"retryPolicy":{"type":"Exponential","interval":"PT7S","count":8,"minimumInterval":"PT5S","maximumInterval":"PT1H"},"usageConfiguration":{"name":"USER-2CD683C88B5E49E2A8EB811513206FA1"}},"integrationAccount":{"name":"72f988bf86f141af91ab2d7cd011db47-westcentralus","id":"subscriptions/fa00899a-0d59-4cf6-8549-07188f03a6ee/resourceGroups/72f988bf86f141af91ab2d7cd011db47-ia/providers/Microsoft.Logic/integrationAccounts/72f988bf86f141af91ab2d7cd011db47-westcentralus","type":"Microsoft.Logic/integrationAccounts"}}}]}