labs/Lab_1_no_code_low_code_chat_gpt/scripts/readmailbox/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_read_mailbox_techsupport_name": {
            "defaultValue": "read-mailbox-techsupport",
            "type": "String"
        },                  
        "email_integration_url": {
            "defaultValue": "",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
         
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "location": "[resourceGroup().location]",
            "name": "conversionservice",
            "kind": "V1",
            "properties": {
                "api": {
                    "description": "A service that allows content to be converted from one format to another.",
                    "iconUri": "[concat('https://connectoricons-prod.azureedge.net/releases/v1.0.1625/1.0.1625.3226/', 'conversionservice', '/icon.png')]",
                    "brandColor": "#4f6bed",                  
                    "type": "Microsoft.Web/locations/managedApis",
                    "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/conversionservice')]"
                },
                "displayName": "Content Conversion"
            }
        },
         {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "location": "[resourceGroup().location]",
            "name": "office365",
            "kind": "V1",
            "properties": {
                "api": {
                     "name": "office365",
                    "displayName": "Office 365 Outlook",
                    "description": "Microsoft Office 365 is a cloud-based service that is designed to help meet your organization's needs for robust security, reliability, and user productivity.",
                    "iconUri": "[concat('https://connectoricons-prod.azureedge.net/releases/v1.0.1626/1.0.1626.3238/', 'office365', '/icon.png')]",
                    "brandColor": "#0078D4",                   
                    "type": "Microsoft.Web/locations/managedApis",
                    "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"                    
                },
                "displayName": "office365",
                 "testLinks": [
                    {
                        "requestUri": "[concat('https://management.azure.com:443/subscriptions/',subscription().subscriptionId,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/office365/extensions/proxy/testconnection?api-version=2016-06-01')]",
                        "method": "get"
                    }
                ]                
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_read_mailbox_techsupport_name')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_new_email_arrives": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 3
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Minute",
                                "interval": 2
                            },
                            "splitOn": "@triggerBody()?['value']",
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/Mail/OnNewEmail",
                                "queries": {
                                    "folderPath": "Inbox",
                                    "importance": "Any",
                                    "includeAttachments": false,
                                    "subjectFilter": "Tech Support Automation"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Compose": {
                            "runAfter": {
                                "Set_variable_3": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": {
                                "emailto": "@{variables('emailto')}",
                                "question": "@{variables('question')}",
                                "subject": "@{triggerBody()?['Subject']}"
                            }
                        },
                        "Condition": {
                            "actions": {
                                "Html_to_text": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "<p>@{triggerBody()?['Body']}</p>",
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['conversionservice']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/html2text"
                                    }
                                },
                                "Set_variable": {
                                    "runAfter": {
                                        "Html_to_text": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "question",
                                        "value": "@body('Html_to_text')"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable_2": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Set_variable_2": {
                                        "runAfter": {},
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "question",
                                            "value": "@triggerBody()?['Body']"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@triggerBody()?['IsHtml']",
                                            true
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "HTTP": {
                            "runAfter": {
                                "Compose": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": "@outputs('Compose')",
                                "method": "POST",
                                "uri": "[parameters('email_integration_url')]"
                            }
                        },
                        "Initialize_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "question",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_2": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "emailto",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Set_variable_3": {
                            "runAfter": {
                                "Condition": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "emailto",
                                "value": "@triggerBody()?['From']"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "conversionservice": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', 'conversionservice')]",
                                "connectionName": "conversionservice",
                                "id": "[reference(concat('Microsoft.Web/connections/', 'conversionservice'), '2016-06-01').api.id]"
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', 'office365')]",
                                "connectionName": "office365",
                                "id": "[reference(concat('Microsoft.Web/connections/', 'office365'), '2016-06-01').api.id]"
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', 'office365')]",
                "[resourceId('Microsoft.Web/connections', 'conversionservice')]"
            ]

        }
    ]
}