natural_language_query/powerapp/Flow.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","uaecentral","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"013fbb5e-e884-42cf-8515-3192f8e9d42d"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Initializevariable_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"Initializevariable_Value_1":{"type":"any"},"Initializevariable2_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"Initializevariable3_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"Initializevariable4_Value":{"type":"integer","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["Initializevariable_Value","Initializevariable_Value_1","Initializevariable2_Value","Initializevariable3_Value","Initializevariable4_Value"]}}}},"actions":{"Initialize_variable_1":{"runAfter":{},"metadata":{"operationMetadataId":"7207a7e3-15e1-4eed-935d-865f48687917"},"type":"InitializeVariable","inputs":{"variables":[{"name":"prompt","type":"string","value":"@{triggerBody()['Initializevariable_Value_1']}"}]}},"HTTP":{"runAfter":{"Initialize_variable_4":["Succeeded"]},"metadata":{"operationMetadataId":"7832ad12-344d-4a6d-8610-7bf7c6f0a42a"},"type":"Http","inputs":{"method":"GET","uri":"https://azureopenaidemo.azurewebsites.net/api/TPrompt","queries":{"prompt":"@variables('prompt')","num_search_result":"@{variables('num_search_result')}","dataset":"@variables('prompt')","search_engine":"@variables('search_engine')"}}},"Parse_JSON":{"runAfter":{"HTTP":["Succeeded"]},"metadata":{"operationMetadataId":"fc8170fc-0900-4f2d-91e8-398b52de9162"},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"object","properties":{"result":{"type":"string"},"gpt_prompt":{"type":"string"}}}}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"fe14f911-8095-4a8b-85d8-051946cf6684"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"result":"@body('Parse_JSON')?['result']","gpt_prompt":"@body('Parse_JSON')?['gpt_prompt']"},"schema":{"type":"object","properties":{"result":{"title":"result","x-ms-dynamically-added":true,"type":"string"},"gpt_prompt":{"title":"gpt_prompt","x-ms-dynamically-added":true,"type":"string"}}}}},"Initialize_variable_2":{"runAfter":{"Initialize_variable_1":["Succeeded"]},"metadata":{"operationMetadataId":"1e920bf4-92d7-4867-974d-26a681e283c6"},"type":"InitializeVariable","inputs":{"variables":[{"name":"dataset","type":"string","value":"@{triggerBody()['Initializevariable2_Value']}"}]}},"Initialize_variable_3":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"b891ad10-11e8-45f3-8c46-3fd081af260d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"search_engine","type":"string","value":"@{triggerBody()['Initializevariable3_Value']}"}]}},"Initialize_variable_4":{"runAfter":{"Initialize_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"1060d36d-af19-43b5-bb8d-d64cbcca75e2"},"type":"InitializeVariable","inputs":{"variables":[{"name":"num_search_result","type":"integer","value":"@triggerBody()['Initializevariable4_Value']"}]}}},"description":"copied for quarantine environment MS Personal Productivity (msdefault) flowName Flow(6f58e569-2e09-4029-9cfc-6b43c2555e4a)"},"parameters":{},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Medium"}},"retryPolicy":{"type":"Exponential","interval":"PT7S","count":8,"minimumInterval":"PT5S","maximumInterval":"PT1H"},"usageConfiguration":{"name":"USER-45E968EDA06C4CB9A9CA2F32BFF91007"}},"integrationAccount":{"name":"72f988bf86f141af91ab2d7cd011db47-westcentralus","id":"subscriptions/fa00899a-0d59-4cf6-8549-07188f03a6ee/resourceGroups/72f988bf86f141af91ab2d7cd011db47-ia/providers/Microsoft.Logic/integrationAccounts/72f988bf86f141af91ab2d7cd011db47-westcentralus","type":"Microsoft.Logic/integrationAccounts"}}}]}